body {
    background-image: radial-gradient(circle, #00c9a7, #00c6ca, #00bfe2, #4bb5ec, #84aae7, #90a0e1, #9d96d8, #a88ccd, #9f80ca, #9775c8, #8d69c5, #845ec2);
}
/***************************************      NAVBAR      ******************************************/
.header {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 64px;
    height: 64px;
    padding: 10px;
    float: left;
    margin-left: 30px;
}

.logo img {
    width: 64px;
}    

.navbar ul {
    float: right;
    width: 620px;
    height: 74px;
    text-align: center;
}

.navbar ul li {
    float: right;
    padding: 18px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
}

.navbar ul li a {
    color: #FBEAFF;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;

}

.navbar ul li a:hover{
    background-color: #845EC2;
    color: #00C9A7;
    border-radius: 65px;
}
/*************************************      CONTENT     ********************************************/
 article {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    width: 160px;
    height: 80px;
    margin-left: -90px;
    margin-top: -50px;
    text-align: center;
} 
.button {
    padding: 7px 20px;
    color: #FBEAFF;
    font-size: 40px;
    background-color: #845EC2;
    color: #00C9A7;
    border-radius: 50px;
}
